.welcome-container{
  border: orangered solid 2px;
  background-color: black;
  height: 60vh;
}

.welcome-image-container{
 border: red solid 2px;
 height: 25vh;
 width: 10vw;
}
.welcome-text{
  border: orchid solid 2px;
  color: white;
}

.welcome-post{
  border: peru solid 2px;
  color: white;
}
