.welcome-container{
  // border: orangered solid 2px;
  background-color: black;
  height: 30rem;
  // border: purple 2px solid;
  display: flex;
  flex-direction: column;
}

.welcome-container-items{
  // margin-left: auto;
  // margin-right: auto;
  margin-top: 3rem;
  align-self: center;
  width: 40rem;
  display: flex;
  flex-direction: row;
  // border: rgb(0, 17, 255) 2px solid;
  
}

.welcome-image-container{
//  border: red solid 2px;
  height: 16.3rem;
  width: 16.2rem;
  border-radius: 80px;
  display: block;
  // box-shadow:0px -1px 13px 6px rgba(117,117,117,0.46);
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.486));
}

.welcome-image-container:hover{
filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.486));
transition-duration: 0.3s;
}

.welcome-text{
  // border: orchid solid 2px;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  padding-left: 1.3rem;
}

.welcome-text-h1{
  width: max-content;
  align-self: center;
  font-size: 2rem;
  font-family: 'Source Code Pro', monospace;
  color: #ebebeb;
  font-weight: bold;
  letter-spacing: 0.03rem;
  // border: red solid 2px;
  position: relative;
}

.welcome-text-h1::before,
.welcome-text-h1::after{
  position: absolute;
  content:'';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcome-text-h1::before{
  background: black;
  animation: typewriter 3s steps(7) 1s forwards;
}

.welcome-text-h1::after{
  width: .125em;
  background-color: #ebebeb;
  animation: typewriter 3s steps(7) 1s forwards, blink 750ms steps(7) infinite;
}


.welcome-text-p{
  opacity: 0;
  font-size: 1.2rem;
  font-family: 'Source Code Pro', monospace;
  color: #ebebeb;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.01rem;
  // border: red solid 2px;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 5s forwards;
}

.welcome-post{
  // border: peru solid 2px;
 
  border: 1px solid rgba(43, 43, 43, 0.50);
  border-radius: 5px;
  background: rgba(43, 43, 43, 0.59);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 40rem;
  height: 2.3rem;
  text-align: center;
  padding: 0.2rem;
  margin-top: 2rem;

}

.welcome-post:hover{
  transform: scale(1.02);
  cursor: pointer;
  transition-duration: 350ms;
}

.welcome-post-p{
color: #ebebeb;
font-family: 'Mulish', sans-serif;
font-size: 1.2rem;
letter-spacing: 0.03rem;
}

.welcome-post-p:hover{
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
  }

.pic-of-me{
width: 100%;
height: 100% ;
border-radius: 80px;
}

@keyframes typewriter {
  to{
    left:100%;
  }
}

@keyframes blink {
  to{
    background: transparent;
  }
}

@keyframes fadeInUp {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}



//responsive portables/phablets: 

@media screen and (min-width : 0px) and (max-width : 550px) {
  .welcome-container{
    height: 35em;
    display: flex;
    flex-direction: column;
  }

  .welcome-container-items{
    margin-top: 2.3em;
    width: 100%;
    flex-direction: column;
  }

  .welcome-post{
    width: 80%;
    height: auto;
    margin: 5% auto;
    margin-top: 10%;
    padding-bottom: 0.5em;
  }

  .welcome-image-container{
    margin: 3% auto;
    z-index: 0;
  }
  .welcome-text{
    // border:red solid 2px;
    width: 100%;
    height: 5em;
  }
  .welcome-text-h1{
   font-size: 1.8em;
  }
  .welcome-text-p{
    font-size: 1.1em;
   }
}



/* Responsive Phablets , Tablettes  */
@media screen and (min-width : 551px) and (max-width : 1000px) { 

  .welcome-container{
    height: 40em;
  }

  .welcome-container-items{
    margin-top: 2em;
    width: 100%;
    flex-direction: column;
  }

  .welcome-post{
    width: 80%;
    height: auto;
    margin: 5% auto;
    padding-bottom: 0.5em;
  }

  .welcome-image-container{
    margin: 3% auto;
    z-index: 0;
  }
  .welcome-text{
    // border:red solid 2px;
    width: 100%;
    height: 5em;
  }
  .welcome-text-h1{
   font-size: 1.8em;
  }
  .welcome-text-p{
    font-size: 1.1em;
   }
  
}


/* Desktop and more */
@media (min-width: 1001px) { 
  .welcome-post{
    // border: peru solid 2px;
    align-self: center;
  }
  
  .welcome-post:hover{
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 350ms;
  }
  
  .welcome-post-p{
  color: #ebebeb;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  }
  
}
