.header-container{
  display: flex;
  width: 100%;
  background-color: black;
  // padding-left: 2rem;
  // padding-right: 2rem;
}

.header-name{
  color: #ebebeb;
  font-size: 2.3rem;
  font-weight: bolder ;
  font-family:'Montserrat', sans-serif;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  }

.header-name:hover {
  color: white;
  font-size: 2.5rem;
  transition-duration: 0.3s;
}


.header-name-underline{
  display: inline-block;
  position: relative;
}

.header-name-underline::before{
content: "";
position: absolute;
left: 0;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background-color: #ebebeb;
  transition: width 0.25s ease-out;
}

.header-name-underline :hover{
  animation: underline ;
}

.header-name-underline:hover::before {
  width: 100%;
}

@keyframes underline {

  to{
    right: 100%;
  }
}

.header-container-menu{
  margin-left: auto ;
  padding-top: 2rem;
  padding-right: 1.5rem;
  background-color: black;
  display: flex;
}


.menu-bars{
 margin-left: 2rem; 
 font-size: 3rem;
 background: none;
}

.nav-menu{
  background-color: black;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 90%;
  transition: 850ms;
}

.nav-menu.active{
  left: 100%;
  transition: 350ms;
}

.nav-menu-items{
 width: 100%;
}



.nav-text {
  color: #565656;
  flex-direction: column;
  font-family:'Montserrat', sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.nav-text:hover{
  color: white;
  font-size: 0.9rem;
  transition-duration: 0.3s;
}

.navbar-toggle{
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross{
  color: #ebebeb;
}

.cross:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.bars{
  size: 3rem;
  color: #ebebeb;
}

.bars:hover{
  transform: scale(1.2);
  transition-duration: 0.3s;
}
