.header-container{
  display: flex;
  width: 100%;
  background-color: black;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-name{
  color: #565656;
  font-size: 1.5rem;
  font-weight: bolder ;
  font-family:'Montserrat', sans-serif;
  padding-top: 1.5%;
  padding-left: 1%;
  padding-bottom: 1%;
  }

.header-name:hover {
  color: white;
  font-size: 2rem;
}


.header-name-underline{
  border-bottom: #565656 3px solid;
}

.header-container-menu{
  margin-left: auto ;
  padding-right: 1%;
  padding-top: 1%;
  background-color: black;
  display: flex;
}


.menu-bars{
 margin-left: 2rem; 
 font-size: 3rem;
 background: none;
}

.nav-menu{
  background-color: black;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 90%;
  transition: 850ms;
}

.nav-menu.active{
  left: 100%;
  transition: 350ms;
}

.nav-menu-items{
 width: 100%;
}



.nav-text {
  color: #565656;
  flex-direction: column;
  font-family:'Montserrat', sans-serif;
  padding: 1rem;
  font-size: 0.8rem;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.nav-text:hover{
  color: white;
  font-size: 0.9rem;
}

.navbar-toggle{
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross{
  color: #565656;
}

.cross:hover{
  color: white;
}

.bars{
  size: 3rem;
  color: #565656;
}

.bars:hover{
color: white;
}
