.whatido-container{
background-color: #EBEBEB ;
border: #EBEBEB 1px solid;
height: 41.5rem;
// border: red 2px solid;
}

.whatido-container-title{
  margin-top: 3rem;
  // border: blue 2px solid;
  width: 100%;
  
}

.whatido-title{
  color: #565656;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.whatido-container-text{
  // border: blueviolet 2px solid;
  width: 65rem;
  margin: auto;
  margin-top: 1.5rem;
  background: rgba(0, 0, 0, 0.055);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(0, 0, 0, 0.027);
  padding: 0.8rem;
}

.whatido-text{
  font-family: 'Mulish', sans-serif;
  color: #565656e1;
  font-weight: bold;
  letter-spacing: 0.01rem;
  line-height: 1.4rem;
  text-align: center;
}

.whatido-container-logos{
  // border: chocolate 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  // border: 2px solid red;
}

.whatido-logo{
  // border:#C4C4C4 2px solid;
  background: rgba(0, 0, 0, 0.055);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(0, 0, 0, 0.075);
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  padding: 1rem ;
}

.whatido-logo:hover{
  transform: scale(1.15);
  background-color: #EBEBEB;
  box-shadow: none;
  border: none; 
  transition-duration: 350ms;
  cursor: pointer;
}

.js-logo{
  margin-top: 1rem;
  margin-left: 0.8rem;
}

.react-logo{
  margin-top: 1.5rem;
}


.redux-logo{
  margin-top: 1rem;
}


.node-logo{
  margin-top: 1rem;
}


.express-logo{
  margin-top: 2.5rem;
}


//responsive portables/phablets: 

@media screen and (min-width : 0px) and (max-width : 550px) {

  .whatido-container{
    height: 126em;
    }
    
    .whatido-title{
      font-size: 1.8em;
    }
    
    .whatido-container-text{
      width: 90%;
    }
    
    .whatido-text{
      color: #565656;
      font-size: 1.1em;
      letter-spacing: 0.01em;
      line-height: 1.4em;
    }
    
    .whatido-container-logos{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 15em;
    }
    
}
