.myprojects-container{
  background-color: #ebebeb;
  border: #ebebeb solid 1px;
  height: 37rem;
}

.myprojects-container-items{
  // border: aqua solid 2px;
  margin: auto;
  margin-top: 3rem;
  width: 90rem;
  height: 36rem;
}

// .myprojects-container-title{
  // border: brown solid 2px;
// }

.myprojects-title{
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #565656;
  font-size: 2rem;
  // border:yellow solid 2px;
}

// // ! LE CSS A APPLIQUER QUAND CAROUSEL
// .myprojects-container-slider{
//   // border:green solid 2px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   height: 24rem;
//   margin-top: 3rem;
//   border: saddlebrown 3px solid;
// }

// ! LE CSS A APPLIQUER QUAND NO CAROUSEL
.myprojects-container-slider{
  // border:green solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24rem;
    // border: saddlebrown 3px solid;
}

.carousel-container{
  // border:red 5px solid;
  width: 45rem;
  height: 24rem;
  position: relative;
  cursor: pointer;
}


.control-arrow {
  height: 100%;
  width: 4rem;
}

#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}

#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  padding: 4px;
  background: black;
  border: 2px solid white;
}


.image{
  position: relative;
}

.img{
  display: block;
}

.image-overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.7);
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay:hover{
  opacity: 1;
}

.image-overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover > *{
  transform: translateY(0);
}

.image-title{
font-size: 2rem;
font-weight: bold;
}

.image-description{
  font-size: 1rem;
  margin: 1rem;
}

// ! POUR QUAND NO CAROUSEL
.container-no-projects{
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
background: linear-gradient(135deg, rgba(126, 126, 126, 0.1), rgba(68, 68, 68, 0.384));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
box-shadow:-3px 5px 26px 13px rgba(79,79,79,0.20);
border: rgba(243, 243, 243, 0.459) 1px solid ;
}

// ! POUR QUAND NO CAROUSEL
.myprojects-no-projects-text{
  font-size: 1.8rem;
  padding: 2rem;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
  color: #565656;
}

// ! POUR QUAND NO CAROUSEL
.loader-container{
  // border:red solid 2px;
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}


// ! POUR QUAND NO CAROUSEL
.dot{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #18181881;
  margin: 0 8px;
  animation: loader infinite 0.45s alternate;
}

// ! POUR QUAND NO CAROUSEL
.d1{
  animation-delay: 0.11s;
}

// ! POUR QUAND NO CAROUSEL
.d2{
  animation-delay: 0.06s;
}

// ! POUR QUAND NO CAROUSEL
.d3{
  animation-delay: 0.01s;
}

// ! POUR QUAND NO CAROUSEL
@keyframes loader {
  100%{
    transform: translateY(-30px);
  }
}


//responsive portables/phablets: 

@media screen and (min-width : 0px) and (max-width : 550px) {

  .myprojects-container{
    background-color: #ebebeb;
    border: #ebebeb solid 1px;
    height: 100%;
    padding-bottom: 2em
  }
  .myprojects-container-items{
    // border: aqua solid 2px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .myprojects-container-title{
    // border: brown solid 2px;
    margin-top: 1.2em;
  }
  
  .myprojects-title{
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #565656;
    font-size: 2rem;
    // border:yellow solid 2px;
  }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .myprojects-container-slider{
//     // border:green solid 2px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     height: 100%;
//     margin-top: 3rem;
//     // border: saddlebrown 3px solid;
//   }
  
 
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .carousel-container{
//     border:red 5px solid;
//     width: 90%;
//     height: 100%;
//     position: relative;
//     cursor: pointer;
//   }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .control-arrow {
//     height: 100%;
//     width: 2em;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox{
//     position: fixed;
//     z-index: 1000;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0, 0.8);
//     display: none;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox.active{
//     display: flex;
//     justify-content:center;
//     align-items:flex-start;
//   }
//  // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox img {
//     max-width: 90%;
//     max-height: 90%;
//     padding: 4px;
//     background: black;
//     border: 2px solid white;
//     margin-top: 5em;

//   }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image{
//     position: relative;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .img{
//     display: block;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay{
//     position: absolute;
//     top:0;
//     left:0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0, 0.7);
//     color: white;
//     font-family: 'Montserrat', sans-serif;
//     display: flex;
//     flex-direction: column ;
//     align-items: center;
//     justify-content: center;
//     opacity: 0;
//     transition: opacity 0.25s;
 
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay:hover{
//     opacity: 1;
  
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay > *{
//     transform: translateY(20px);
//     // transition: transform 0.25s;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay:hover > *{
//     transform: translateY(0);
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-title{
//   font-size: 1.5em;
//   font-weight: bold;
//   // margin-top: 1em;
    
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-description{
//     font-size: 0.8em;
//     margin: 0.5em;
//     margin-bottom: 1em;
//   }
// // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-logo-git{
//     display: none;
//   }
  
//   //! LE CSS A APPLIQUER QUAND CAROUSEL
//   .container-icons{
//     display: flex;
//     flex-direction: row;
//   }


  // ! POUR QUAND NO CAROUSEL
  .myprojects-container-slider{
    // border:green solid 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      margin-top: 2em;
      // border: saddlebrown 3px solid;
  }

  // ! POUR QUAND NO CAROUSEL
  .container-no-projects{
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgba(126, 126, 126, 0.1), rgba(68, 68, 68, 0.384));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow:-3px 5px 26px 13px rgba(79,79,79,0.20);
  border: rgba(243, 243, 243, 0.459) 1px solid ;
  width: 90%;
}
  
  // ! POUR QUAND NO CAROUSEL
  .myprojects-no-projects-text{
    font-size: 1.8em;
    // padding: 2em;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    color: #565656;
    margin:auto 2em;
    text-align: center;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .loader-container{
    // border:red solid 2px;
    // width: 7em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
  }
  
  
  // ! POUR QUAND NO CAROUSEL
  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #18181881;
    margin: 0 8px;
    animation: loader infinite 0.45s alternate;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d1{
    animation-delay: 0.11s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d2{
    animation-delay: 0.06s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d3{
    animation-delay: 0.01s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  @keyframes loader {
    100%{
      transform: translateY(-25px);
    }
  }
  

}


/* Responsive Phablets , Tablettes  */
@media screen and (min-width : 551px) and (max-width : 1000px) { 

  .myprojects-container{
    background-color: #ebebeb;
    border: #ebebeb solid 1px;
    height: 100%;
    padding-bottom: 2em;
  }
  .myprojects-container-items{
    // border: aqua solid 2px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .myprojects-container-title{
    // border: brown solid 2px;
    margin-top: 1.2em;
  }
  
  .myprojects-title{
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #565656;
    font-size: 2rem;
    // border:yellow solid 2px;
  }
  
  

//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .myprojects-container-slider{
//     border:green solid 2px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     height: 100%;
//     margin-top: 3rem;
//     // border: saddlebrown 3px solid;
//   }
  
 
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .carousel-container{
//     border:red 5px solid;
//     width: 80%;
//     height: 100%;
//     max-width: 38em;
//     position: relative;
//     cursor: pointer;
//   }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .control-arrow {
//     height: 100%;
//     width: 2em;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox{
//     position: fixed;
//     z-index: 1000;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0, 0.8);
//     display: none;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox.active{
//     display: flex;
//     justify-content:center;
//     align-items:flex-start;
//   }
//  // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox img {
//     max-width: 90%;
//     max-height: 90%;
//     padding: 4px;
//     background: black;
//     border: 2px solid white;
//     margin-top: 5em;

//   }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image{
//     position: relative;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .img{
//     display: block;
//     height: 100%;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay{
//     position: absolute;
//     top:0;
//     left:0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0, 0.7);
//     color: white;
//     font-family: 'Montserrat', sans-serif;
//     display: flex;
//     flex-direction: column ;
//     align-items: center;
//     justify-content: center;
//     opacity: 0;
//     transition: opacity 0.25s;

//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay:hover{
//     opacity: 1;
  
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay > *{
//     transform: translateY(20px);
//     // transition: transform 0.25s;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay:hover > *{
//     transform: translateY(0);
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-title{
//   font-size: 1.5em;
//   font-weight: bold;
//   // margin-top: 1em;
    
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-description{
//     font-size: 0.8em;
//     margin: 0.5em;
//     margin-bottom: 1em;
//   }
// // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-logo-git{
//     display: none;
//   }
  
  // ! POUR QUAND NO CAROUSEL
  .myprojects-container-slider{
    // border:green solid 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      margin-top: 2em;
      // border: saddlebrown 3px solid;
  }

  // ! POUR QUAND NO CAROUSEL
  .container-no-projects{
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgba(126, 126, 126, 0.1), rgba(68, 68, 68, 0.384));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow:-3px 5px 26px 13px rgba(79,79,79,0.20);
  border: rgba(243, 243, 243, 0.459) 1px solid ;
  width: 90%;
  max-width: 30em;
}
  
  // ! POUR QUAND NO CAROUSEL
  .myprojects-no-projects-text{
    font-size: 1.8em;
    // padding: 2em;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    color: #565656;
    margin:auto 2em;
    text-align: center;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .loader-container{
    // border:red solid 2px;
    // width: 7em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
  }
  
  
  // ! POUR QUAND NO CAROUSEL
  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #18181881;
    margin: 0 8px;
    animation: loader infinite 0.45s alternate;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d1{
    animation-delay: 0.11s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d2{
    animation-delay: 0.06s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d3{
    animation-delay: 0.01s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  @keyframes loader {
    100%{
      transform: translateY(-25px);
    }
  }


}



/* Desktop and more */
@media (min-width: 1001px) { 

  .myprojects-container{
    background-color: #ebebeb;
    border: #ebebeb solid 1px;
    height: 100%;
    padding-bottom: 5em;
  }
  .myprojects-container-items{
    // border: aqua solid 2px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .myprojects-container-title{
    // border: brown solid 2px;
    margin-top: 1.2em;
  }
  
  .myprojects-title{
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #565656;
    font-size: 2rem;
    // border:yellow solid 2px;
  }
  
  

//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .myprojects-container-slider{
//     border:green solid 2px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     height: 100%;
//     margin-top: 3rem;
//     // border: saddlebrown 3px solid;
//   }
  
 
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .carousel-container{
//     border:red 5px solid;
//     width: 80%;
//     height: 100%;
//     max-width: 38em;
//     position: relative;
//     cursor: pointer;
//   }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .control-arrow {
//     height: 100%;
//     width: 2em;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox{
//     position: fixed;
//     z-index: 1000;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0, 0.8);
//     display: none;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox.active{
//     display: flex;
//     justify-content:center;
//     align-items:flex-start;
//   }
//  // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   #lightbox img {
//     max-width: 90%;
//     max-height: 90%;
//     padding: 4px;
//     background: black;
//     border: 2px solid white;
//     margin-top: 5em;

//   }
  
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image{
//     position: relative;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .img{
//     display: block;
//     height: 100%;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay{
//     position: absolute;
//     top:0;
//     left:0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0, 0.7);
//     color: white;
//     font-family: 'Montserrat', sans-serif;
//     display: flex;
//     flex-direction: column ;
//     align-items: center;
//     justify-content: center;
//     opacity: 0;
//     transition: opacity 0.25s;
    
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay:hover{
//     opacity: 1;
  
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay > *{
//     transform: translateY(20px);
//     // transition: transform 0.25s;
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-overlay:hover > *{
//     transform: translateY(0);
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-title{
//   font-size: 1.5em;
//   font-weight: bold;
//   // margin-top: 1em;
    
//   }
//   // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-description{
//     font-size: 0.8em;
//     margin: 0.5em;
//     margin-bottom: 1em;
//   }
// // ! LE CSS A APPLIQUER QUAND CAROUSEL
//   .image-logo-git{
//     display: none;
//   }

// // ! LE CSS A APPLIQUER QUAND CAROUSEL
// .container-icons{
//   background: rgba(0, 0, 0, 0.445);
//   justify-content: space-around;
//   width: 6em;
//   border-radius: 30px;
//   padding: 0.2em;

// }
  // ! POUR QUAND NO CAROUSEL
  .myprojects-container-slider{
    // border:green solid 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      margin-top: 2em;
      // border: saddlebrown 3px solid;
  }

  // ! POUR QUAND NO CAROUSEL
  .container-no-projects{
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgba(126, 126, 126, 0.1), rgba(68, 68, 68, 0.384));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow:-3px 5px 26px 13px rgba(79,79,79,0.20);
  border: rgba(243, 243, 243, 0.459) 1px solid ;
  width: 90%;
  max-width: 30em;
}
  
  // ! POUR QUAND NO CAROUSEL
  .myprojects-no-projects-text{
    font-size: 1.8em;
    // padding: 2em;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;
    color: #565656;
    margin:auto 2em;
    text-align: center;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .loader-container{
    // border:red solid 2px;
    // width: 7em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
  }
  
  
  // ! POUR QUAND NO CAROUSEL
  .dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #18181881;
    margin: 0 8px;
    animation: loader infinite 0.45s alternate;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d1{
    animation-delay: 0.11s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d2{
    animation-delay: 0.06s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  .d3{
    animation-delay: 0.01s;
  }
  
  // ! POUR QUAND NO CAROUSEL
  @keyframes loader {
    100%{
      transform: translateY(-25px);
    }
  }

}
