.myprojects-container{
  background-color: #ebebeb;
  border: #ebebeb solid 1px;
  height: 37rem;
}

.myprojects-container-items{
  // border: aqua solid 2px;
  margin: auto;
  margin-top: 3rem;
  width: 90rem;
  height: 36rem;
}

// .myprojects-container-title{
  // border: brown solid 2px;
// }

.myprojects-title{
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #565656;
  font-size: 2rem;
  // border:yellow solid 2px;
}

.myprojects-container-slider{
  // border:green solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30rem;
  margin-top: 3rem;
}

.carousel-container{
  // border:red 5px solid;
  width: 45rem;
  height: 24rem;
  position: relative;
  cursor: pointer;
}


.control-arrow {
  height: 100%;
  width: 4rem;
}

#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}

#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  padding: 4px;
  background: black;
  border: 2px solid white;
}


.image{
  position: relative;
}

.img{
  display: block;
}

.image-overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.7);
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay:hover{
  opacity: 1;
}

.image-overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover > *{
  transform: translateY(0);
}

.image-title{
font-size: 2rem;
font-weight: bold;
}

.image-description{
  font-size: 1rem;
  margin: 1rem;
}
